@using Gov.News.Website;
@using Gov.News.Website.Models
@using Gov.News.WebApp.Extensions
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment hostingEnv
@model BaseViewModel
@{
    var dob = new System.DateTime(1926, 4, 21);
    var now = DateTime.Now;
    if (@Startup.granvilleTestDate != DateTime.MinValue)
    {
        now = @Startup.granvilleTestDate;
    }
    var age = now.Year - dob.Year;

    if (now.DayOfYear < dob.DayOfYear)
    {
        age = age - 1;
    }
    bool isCovidTag = Context.Request.Path.ToString().Contains("/tags/covid-19") && Context.Request.Query["embed"] == "true";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@(Model.Title == "Home" || string.IsNullOrEmpty(Model.Title) ? "" : Model.Title + " |") BC Gov News</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    @if (@Model.OGMetaImageUrl != null)
    {
        <meta property="og:image" content="@Html.Raw(Model.OGMetaImageUrl)" />
    }
    @RenderSection("TwitterMeta", false)

    @if (@Model.CanonicalUri != null)
    {
        <link rel="canonical" href="@Model.CanonicalUri" />
    }

    <environment names="Testing,Development">
        <link rel="stylesheet" href="~/Content/site-bootstrap.min.css" media="screen" type="text/css" />
        <link rel="stylesheet" href="~/Content/site.css" media="screen" type="text/css" />
        <link rel="stylesheet" href="~/Content/minimenu.css" media="screen" type="text/css" />
        <link rel="stylesheet" href="~/Content/transforms.css" media="screen" type="text/css" />
        <link rel="stylesheet" href="~/Content/print.css" media="print" type="text/css" />
        <link rel="stylesheet" href="~/Content/fontawesome/font-awesome.min.css" media="screen" type="text/css">
        <!-- COVID style sheet-->
        <link rel="stylesheet" href="~/Content/covid-banner-style.css" media="screen" type="text/css">
        <!-- end of COVID style sheet-->
        @{
            if (@Model.GranvilleLive)
            {
                <link rel="stylesheet" href="~/Content/granville-bridge-theme.css" media="screen" type="text/css">
            }
        }
        @{
            if (@isCovidTag)
            {
                <link rel="stylesheet" href="~/Content/covidcategory.css" media="screen" type="text/css">
            }
        }
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/Content/site-bootstrap.min.css" asp-append-version="true" media="screen" type="text/css" />
        <link rel="stylesheet" href="~/Content/site.css" asp-append-version="true" media="screen" type="text/css" />
        <link rel="stylesheet" href="~/Content/minimenu.css" asp-append-version="true" media="screen" type="text/css" />
        <link rel="stylesheet" href="~/Content/transforms.css" asp-append-version="true" media="screen" type="text/css" />
        <link rel="stylesheet" href="~/Content/print.css" asp-append-version="true" media="print" type="text/css" />
        <link rel="stylesheet" href="~/Content/fontawesome/font-awesome.min.css" asp-append-version="true" media="screen" type="text/css" />
        <!-- COVID style sheet-->
        <link rel="stylesheet" href="~/Content/covid-banner-style.css" asp-append-version="true" media="screen" type="text/css">
        <!-- end of COVID style sheet-->
        @{
            if (@Model.GranvilleLive)
            {
                <link rel="stylesheet" href="~/Content/granville-bridge-theme.css" asp-append-version="true" media="screen" type="text/css">
            }
        }
        @{
            if (@isCovidTag)
            {
                <link rel="stylesheet" href="~/Content/covidcategory.css" asp-append-version="true" media="screen" type="text/css">
            }
        }
    </environment>

    @RenderSection("Meta", false)
    <script src="~/Scripts/jquery-1.11.3.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.cookie.js" type="text/javascript"></script>
    @if (ViewContext.RouteData.Values["action"].ToString() != "Search" && ViewContext.RouteData.Values["controller"].ToString() != "Search")
    {
        <partial name="_WebAnalytics" />
    }
    else
    {
        <partial name="_WebAnalytics_Search" />
    }
    <script type="text/javascript">
        // inject font-awesome via CDN since IE 11 does not recognize the cached version
        var isIE11 = !!window.MSInputMethodContext && !!document.documentMode;
        if (isIE11)
            $('head').append('<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" type="text/css" />');
    </script>
</head>
<body>
    <!--googleoff: all-->
    @{
        if (@Model.GranvilleLive)
        {
            <div id="granville-bridge-banner" class="alert granville-bridge-banner" role="alert">
                <div class="content">
                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i> ALERT: Her Majesty Queen Elizabeth II, Queen of Canada has passed away at the age of @age.
                    <button class="btn-link pull-right" id="btnCloseBanner"><strong>×</strong></button>
                </div>
            </div>
        }
    }
    <!-- COVID banner -->
    <div id="covid-banner" class="covid-banner">
        <div class="content">
            <button class="btn-link pull-right" id="btnCloseCovidBanner"><strong>×</strong></button>
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>   B.C. has declared a state of emergency. Learn about
            <a href=" http://www.bccdc.ca/health-info/diseases-conditions/covid-19?utm_campaign=20200318_GCPE_AM_COVID_3_NOTIFICATION_BCGOVNEWS_BCGOV_EN_BC__NOTIFICATION">COVID-19 health issues.</a>
            &nbsp; |&nbsp; <a href="https://www2.gov.bc.ca/gov/content/safety/emergency-preparedness-response-recovery/covid-19-provincial-support?utm_campaign=20200506_GCPE_AM_COVID_11_NOTIFICATION_BCGOVNEWS_BCGOV_EN_BC__NOTIFICATION">B.C.'s Response to COVID-19.</a>
        </div>
    </div>
    <!-- end of COVID banner-->

    <div id="header">
        <div id="header-top">
            <div class="content">
                <div id="logo">
                    <a id="headerBCGov" href="http://gov.bc.ca">
                        <img id="BCGov-logo" src="~/Content/Images/Gov/gov3_bc_logo.png" alt="Government of B.C." title="Government of B.C." class="@(!@Model.GranvilleLive ? "granville-bridge-on": "granville-bridge-off" )">
                        <img id="BCGov-logo-granville" src="~/Content/Images/Gov/BCID_White_Small.png" alt="Government of B.C." title="Government of B.C." class="@(@Model.GranvilleLive ? "granville-bridge-on": "granville-bridge-off" )">
                    </a>
                </div>
            </div>
        </div>
        <div id="header-bottom">
            <div class="content">
                @if (!(Model is SearchViewModel))
                {
                    <div class="search">
                        @using (Html.BeginForm("Search", "Default", FormMethod.Get))
                        {
                            <input name="q" type="text" placeholder="Search news.gov.bc.ca" />
                            <div class="search-trigger"> </div>
                        }
                    </div>
                }
                <div>
                    <h1><a id="headerNewsHome" href="/">BC Gov News</a></h1>
                </div>
            </div>
        </div>
    </div>
    <div class="mini-menu-trigger covid-mini-menu-trigger"> </div>
    <div class="mini-search-trigger covid-mini-search-trigger"> </div>

    <div id="mini-menu-container">
        @if (!(Model is SearchViewModel))
        {
            <div class="search mini-menu-search">
                @using (Html.BeginForm("Search", "Default", FormMethod.Get))
                {
                    <input name="q" id="mini-menu-search-box" class="searchbox" type="text" placeholder="Search news.gov.bc.ca">
                    <div class="search-trigger"> </div>
                }
            </div>
        }
        <div id="mini-menu">
            <div class="site-menu">
                <ul>
                    <li class="first-link"><a href="/">Home</a><div class="no-trigger"></div></li>
                    <li>
                        <a href="javascript:void(0)" id="mini-menu-ministries">Ministries</a>
                        <div class="level-trigger"></div>
                        <ul>
                            @foreach (var ministryModel in Model.Ministries)
                            {
                                var ministry = ministryModel.Index as Ministry;
                                if (ministry == null || ministry.ParentMinistryKey != null) { continue; };
                                <li><a href="@ministry.GetUri()">@ministry.Name</a><div class="no-trigger"></div></li>
                            }
                        </ul>
                    </li>
                    <li><a href="/sectors">Sectors</a><div class="no-trigger"></div></li>
                    <li><a href="/connect">Connect</a><div class="no-trigger"></div></li>
                    <li><a href="@Model.SubscribePath()">Subscribe</a></li>
                    @*TODO: Remove the following reference to Properties.Settings from the view.*@
                    <li><a href="@Gov.News.Website.Properties.Settings.Default.ArchiveHostUri">News Archive</a><div class="no-trigger"></div></li>

                    @if (Model.WebcastingLive)
                    {
                        <li><a href="/live" class="live_button live_button_show" style="width:auto; margin-left:5px;">Live Webcast</a></li>
                    }
                    else
                    {
                        <li><a href="/live" class="live_button live_button_hide">Live Webcast</a></li>
                    }

                </ul>
            </div>
        </div>
    </div>

    <div id="nav-container">
        <div class="shadow-box">
            <div class="content">
                <div class="nav">
                    <ul class="inline">
                        <li><a href="/">Home</a></li>
                        <li><a href="/ministries" data-target="ministries-menu" class="has-menu">Ministries</a></li>
                        <li><a href="/sectors">Sectors</a></li>
                        <li><a href="/connect">Connect</a></li>
                        <li><a href="@Model.SubscribePath()">Subscribe</a></li>
                        @*TODO: Remove the following reference to Properties.Settings from the view.*@
                        <li><a href="@Gov.News.Website.Properties.Settings.Default.ArchiveHostUri">News Archive</a></li>
                        @if (Model.WebcastingLive)
                        {
                            <li style="float:right;"><a href="/live" class="live_button live_button_show">Live Webcast</a></li>
                        }
                        else
                        {
                            <li style="float:right;"><a href="/live" class="live_button live_button_hide">Live Webcast</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="menu-container">
        <div class="content">
            <div id="ministries-menu" class="menu">
                <div class="menu-items">
                    <ul>
                        @foreach (var ministryModel in Model.Ministries)
                        {
                            var ministry = ministryModel.Index as Ministry;
                            if (ministry == null || ministry.ParentMinistryKey != null) { continue; };
                            @*TODO: implement menu items loading
                                    <li>
                                    @Ajax.ActionLink(ministry.Name,
                                    "Details",
                                    "Ministries",
                                    new { ministry.Key },
                                        new AjaxOptions
                                        {
                                            HttpMethod = "GET",
                                            InsertionMode = InsertionMode.Replace,
                                            UpdateTargetId = "menu-ajax-content",
                                            LoadingElementId = "menu-ajax-loading"
                                        })
                                </li>*@
                            <li><a href="@ministry.GetUri()">@ministry.Name</a></li>
                        }
                    </ul>
                    @*<a href="/ministries" class="link-button">VIEW BC NEWS BY MINISTRY</a>*@
                </div>
                <div class="menu-content">
                    @*TODO: this is for the above ajax code to load data into diff
                            <div id="menu-ajax-loading">
                            <img src="~/Content/Images/ajax-loader.gif" alt="Loading..." />
                        </div>
                        <div id="menu-ajax-content">
                        </div>*@

                    @foreach (var ministry in Model.Ministries.Where(m => ((Ministry)m.Index).ParentMinistryKey == null))
                    {
                        <partial name="MenuContent" model="ministry" />
                    }
                </div>
            </div>
        </div>
    </div>

    @RenderSection("Carousel", false)
    @RenderSection("StoryNavigator", false)

    <div id="main-content" class="template content">
        @RenderBody()
        @*<a href="#" class="link-button back-to-top">TOP</a>*@
        <div class="clear"></div>
    </div>

    @RenderSection("AssortedMedia", false)

    <div id="footer">
        <div class="content">
            <div class="connect">
                <h4>Connect with Us:</h4>
                <ul class="inline">

                    <li><a id="footerBCGov" href="http://www.gov.bc.ca/">BC Gov</a></li>
                    <li><a id="footerFaceBook" href="/connect#facebook">Facebook</a></li>
                    <li><a id="footerTwitter" href="/connect#twitter">Twitter</a></li>
                    <li><a id="footerFlickr" href="/connect#flickr">Photos</a></li>
                    <li><a id="footerYoutube" href="/connect#youtube">Videos</a></li>
                    <li><a id="footerNewsletters" href="/newsletters">Newsletters</a></li>
                    <li><a id="footerRSSFeeds" href="/connect#rss">RSS Feeds</a></li>

                    @*<li><a href="/newsletters">Newsletters</a></li>
                        <li><a href="/connect#blogs">Blogs</a></li>
                        <li><a href="https://soundcloud.com/bcgov/">SoundCloud</a></li>
                        <li><a href="/connect#flickr">Flickr</a></li>
                        <li><a href="/connect#youtube">Youtube</a></li>
                        <li><a href="/connect#twitter">Twitter</a></li>
                        <li><a href="/connect#facebook">Facebook</a></li>*@
                </ul>
            </div>
            <div class="clear"></div>
            <hr />

            <ul class="inline pull-left">
                <li><a id="footerHome" href="https://news.gov.bc.ca">Home</a></li>
                <li><a id="footerDisclaimer" href="http://www2.gov.bc.ca/gov/admin/disclaimer.page">Disclaimer</a></li>
                <li><a id="footerPrivacy" href="/privacy">Privacy</a></li>
                <li><a id="footerAccessibility" href="http://www2.gov.bc.ca/gov/admin/accessibility.page">Accessibility</a></li>
                <li><a id="footerCopyright" href="http://www2.gov.bc.ca/gov/admin/copyright.page">Copyright</a></li>
                <li><a id="footerContact" href="/contact">Contact Us</a></li>
            </ul>
        </div>
    </div>
    <div id="end-cap">
        <ul>
            <li class="connect-label">Connect</li>
            <li><a href="/connect#facebook"><i class="fa fa-facebook-official fa-lg" aria-hidden="false"></i></a></li>
            <li><a href="/connect#twitter"><i class="fa fa-twitter fa-lg" aria-hidden="false"></i></a></li>
            <li><a href="/connect#flickr"><i class="fa fa-flickr fa-lg" aria-hidden="false"></i></a></li>
            <li><a href="/connect#youtube"><i class="fa fa-youtube fa-lg" aria-hidden="false"></i></a></li>
        </ul>
        <a href="/connect" class="read-more view-all-media">View all Social Media</a>
    </div>
    <input id="hostingEnv" type="hidden" value=@hostingEnv.EnvironmentName />

    @if (Gov.News.Website.Properties.Settings.Default.SignalREnabled != null && Gov.News.Website.Properties.Settings.Default.SignalREnabled == "true")
    {
        <script src="~/Scripts/jquery.signalR-2.2.1.min.js" type="text/javascript"></script>
        <script src="~/signalr/hubs" type="text/javascript"></script>
    }

    <environment names="Development">
        <script src="~/Scripts/minimenu.js" type="text/javascript"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/Scripts/minimenu.js" asp-append-version="true" type="text/javascript"></script>
    </environment>


    <script type="text/javascript">
        window.allowFade = true;

    $(function () {

        $('.back-to-top').on('click', function () {
            $('html, body').animate({
                scrollTop: 0
            });
            return false;
        });

        $(window).on('load', function () {
            var images = $('.ministry-listing .article .item-asset img, .story-page .primary-asset img');
            images.each(function (i, image) {
                var width = image.naturalWidth;
                var height = image.naturalHeight;
                if (height >= width) {
                    $(image).addClass("tall-image");
                }
            });
        });

        $(".search-trigger").on('click', function () {
            $(this).parent().submit();
        });

        var collapsibleRegions = $(".collapsible-regions");

        if (collapsibleRegions.length != 0) {
            // Clone on the client instead of having the server to duplicate and send them
            $('.home-features').append(collapsibleRegions.children().clone());
            collapsibleRegions.find(".resource-links > h5").on('click', function () {
                var headerToggler = $(this);
                headerToggler.parent().find('ul,div').toggle();
                headerToggler.toggleClass('open');
            });
        }

        function shortenSummaryText(divToShorten, heightToMatch) {
                if ($(divToShorten).length > 0) {
                var heightOfDiv = divToShorten.height();
                while (heightOfDiv > heightToMatch) {
                    var textToShorten = $(divToShorten)[0].innerHTML;
                    var newLengthOfStringToShorten = textToShorten.length - 10;
                    textToShorten = textToShorten.substr(0, newLengthOfStringToShorten);
                    textToShorten = textToShorten.substr(0, Math.min(textToShorten.length, textToShorten.lastIndexOf(" "))) + '...';
                    $(divToShorten).html(textToShorten);
                    heightOfDiv = $(divToShorten).height();
                }
            }
        }

        var first = true;
        function closeMenu() {
            var menuContainer = $("#menu-container");
            menuContainer.slideUp();
            menuContainer.hide();
            $(".menu.active").removeClass('active');
            $(".menu-content").hide();
            $(".menu-items li").removeClass('active');
            var parent = $(".has-menu").parent();
            parent.removeClass('active');

        }

        $('html').on('click', function () {
            closeMenu();
        });

        $('.menu').on('click', function (event) {
            event.stopPropagation();
        });

        var menuSwitchTimeout;
        var menuSwitchDelay = 100;

        window.menuCloseDelay = 500;

        var fadeSpeed = 200;

        $(".menu-content-item").hide();
            $(".menu-items li").on('mouseenter', function () {
            clearTimeout(menuSwitchTimeout);
            var index = $(this).index() + 1;
            var item = $(this);
                menuSwitchTimeout = setTimeout(function () {
                $("#menu-container").removeClass('just-menu');
                $(".menu-items li").removeClass('active');
                item.addClass('active');
                if (!first) {
                    $(".menu-content-item").fadeOut(fadeSpeed);
                }
                first = false;
                $(".menu-content").show();
                $(".menu-content-item:nth-child(" + index + ")").fadeIn(fadeSpeed);

                item.find('.item-content').each(function () {
                    if ($(this).is(':visible')) {
                        if ($(this).find('.item-asset img').length > 0) {
                            var summaryDiv = $(this).find('.item-summary');
                            var heightOfSummaryText = summaryDiv.height();
                            var heightOfReadMoreLink = $(this).find('.read-more').outerHeight(true);
                            var heightToMatch = $(this).find('.item-asset img').height() - heightOfReadMoreLink;
                            if (heightToMatch < heightOfSummaryText) {
                                shortenSummaryText(summaryDiv, heightToMatch);
                            }
                        }
                    }
                });
                }, menuSwitchDelay);
                var menu = $('#ministries-menu .menu-items');
                var menuItemContent = $('#ministries-menu .menu-content');
                if (menu.outerHeight() > menuItemContent.outerHeight()) {
                    menuItemContent.outerHeight(menu.outerHeight());
                }
                if (menu.outerHeight() < menuItemContent.outerHeight()) {
                    menu.outerHeight(menuItemContent.outerHeight());
                }
        });

        $(".close-menu").on('click', function (event) {
            event.preventDefault();
            closeMenu();
        });

        $(".has-menu").on('click', function (event) {
            event.stopPropagation();
            event.preventDefault();
            first = false;
            //$(".menu.active").removeClass('active');
            $(".menu-content").hide();
            clearTimeout(window.menuCloseTimeout);
            var parent = $(".has-menu").parent();
            parent.removeClass('active');

            var targetId = $(this).data('target');

            var openMenu = $(".menu.active");

            if (targetId === openMenu.prop('id')) {
                closeMenu();
                return;
            }

            $(this).parent().addClass('active');

            $(".menu.active").removeClass('active');
            $(".menu").hide();

            var menu = $("#" + targetId);
            menu.show();
            menu.addClass('active');

            var menuContainer = $("#menu-container");
            if (menuContainer.is(":visible")) {
                return;
            }

            menuContainer.addClass('just-menu');
            menuContainer.show();
        });

        $(".print-document").on('click', function (event) {
            event.preventDefault();
            window.print();
        });

        @if (Gov.News.Website.Properties.Settings.Default.SignalREnabled != null && Gov.News.Website.Properties.Settings.Default.SignalREnabled == "true")
        {
            // Declare a proxy to reference the hub.
            @:var liveHub = $.connection.liveHub;

            // Create a function that the hub can call to broadcast messages.
            @:liveHub.client.isLive = isLiveCallback;

            @:liveHub.client.isGranvilleLive = isGranvilleLiveCallback;

            // Start the connection.
            @:$.connection.hub.start();
        }
        else
        {
            // Initiate polling mechanism to /api/live/playlist
            @:setTimeout(manualPolling, 60 * 1000);
            @:setTimeout(manualGranvillePolling, 60 * 1000);
        }
    });

    function manualPolling() {
        $.ajax({ url: "/api/live/playlist" })
        .done(function (result) {
            if (result && result.length > 0 && result[0]) {
                isLiveCallback(true, result);
            } else {
                isLiveCallback(false, null);
            }
        })
        .fail(function (err) {
            // console.log("error", err);
        })
        .always(function () {
            // console.log("again...");
            setTimeout(manualPolling, 60 * 1000);
        });

        }

        function manualGranvillePolling() {
            $.ajax({ url: "/api/live/granville" })
                .done(function (result) {
                    if (result) {
                        isGranvilleLiveCallback(true);
                    } else {
                        isGranvilleLiveCallback(false);
                    }
                })
                .fail(function (err) {
                })
                .always(function () {
                    setTimeout(manualGranvillePolling, 60 * 1000);
                });
        }

        function isLiveCallback(webcastingEnabled, links) {
            var live_button = $('.live_button');

            if (webcastingEnabled === true) {
                live_button.removeClass("live_button_hide");
                live_button.addClass("live_button_show");
            }
            else {
                live_button.removeClass("live_button_show");
                live_button.addClass("live_button_hide");
            }

            //if (typeof secondaryIsLiveCallback !== "undefined")
            //  secondaryIsLiveCallback(webcastingEnabled, links);
        };

        function isGranvilleLiveCallback(isLive) {
            var banner = $('#granville-bridge-banner');
            var header = $('#header');
            var logo = $('#BCGov-logo');
            var logo_granville = $('#BCGov-logo-granville');
            var mini_search_logo = $('#mini-menu-trigger');
            var granville_style_sheet = $('link[rel=stylesheet][href~="/Content/granville-bridge-theme.css"]');
            const hostingEnv = document.getElementById('hostingEnv').value;

            if (isLive) {
                if (!banner.length) {
                    $('<div id="granville-bridge-banner" class="alert granville-bridge-banner"  role="alert"><div class="content"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> ALERT: Her Majesty Queen Elizabeth II, Queen of Canada has passed away at the age of @age.<button class="btn-link pull-right" id="btnCloseBanner"><strong>×</strong></button></div></div>').insertBefore(header);
                }
                logo.hide();
                logo_granville.show();

                if (!mini_search_logo.hasClass("granville-bridge-mini-search-menu")) {
                    mini_search_logo.addClass("granville-bridge-mini-search-menu")
                }
                if (!granville_style_sheet.length) {
                    if (hostingEnv == "Staging" || hostingEnv == "Production") {
                        $('head').append('<link rel="stylesheet" type="text/css" media="screen" asp-append-version="true" href="/Content/granville-bridge-theme.css">');
                    } else {
                        $('head').append('<link rel="stylesheet" type="text/css" media="screen" href="/Content/granville-bridge-theme.css">');
                    }
                }
            } else {
                if (banner.length) {
                    banner.remove();
                }
                logo_granville.hide();
                logo.show();
                if (mini_search_logo.hasClass("granville-bridge-mini-search-menu")) {
                    mini_search_logo.removeClass("granville-bridge-mini-search-menu")
                }
                if (granville_style_sheet.length) {
                    granville_style_sheet.remove();
                }
            }
        };


    $('body').on('click touchend', '.footer a, .search-pagination a, #mini-menu a', function (e) {
        var el = $(this);
        var link = el.attr('href');
        window.location = link;
    });

    $('#mini-menu-ministries').click(function (event) {
        event.preventDefault();
        $(".level-trigger").click();
        return false;
    });

        $(document).ready(function () {
            /* This is for closing the granville banner */
            if ($.cookie(document.location.host + '-alert-granville') === 'closed') {
                $("#granville-bridge-banner").hide();
            }

            $("#btnCloseBanner").click(function (e) {
                e.preventDefault();
                /* The cookie will be expired in 100 days
                 Set the path as root, so the cookie will be valid across the whole site */
                $.cookie(document.location.host + '-alert-granville', 'closed', { path: '/', expires: 100 });
                $("#granville-bridge-banner").hide();
            });

            $("#btnCloseCovidBanner").click(function (e) {
                e.preventDefault();
                var mini_menu_logo = $('#mini-menu-trigger');
                var mini_search_logo = $('#mini-search-trigger');
                $("#covid-banner").hide();
                if (mini_search_logo.hasClass("covid-mini-search-menu")) {
                    mini_search_logo.removeClass("covid-mini-search-menu")
                }
                if (mini_menu_logo.hasClass("covid-mini-menu-menu")) {
                    mini_menu_logo.removeClass("covid-mini-menu-menu")
                }
            });
        });
    </script>

    @RenderSection("Scripts", false)
    <!--googleon: all-->
</body>
</html>
