@using Gov.News.Website;
@using Gov.News.Website.Models
@using Gov.News.WebApp.Extensions
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment hostingEnv
@model BaseViewModel
@{
    var dob = new System.DateTime(1948, 11, 14);
    var now = DateTime.Now;
    if (@Startup.granvilleTestDate != DateTime.MinValue)
    {
        now = @Startup.granvilleTestDate;
    }
    var age = now.Year - dob.Year;

    if (now.DayOfYear < dob.DayOfYear)
    {
        age = age - 1;
    }
    bool isCovidTag = Context.Request.Path.ToString().Contains("/tags/covid-19") && Context.Request.Query["embed"] == "true";
    string controller = "";

    if (ViewContext.RouteData.Values["controller"] != null)
    {
        controller = ViewContext.RouteData.Values["controller"].ToString();
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BC Gov News</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="twitter:card" content="summary_large_image">

    @if (@Model.OGMetaImageUrl != null)
    {
        <meta property="og:image" content="@Html.Raw(Model.OGMetaImageUrl)" />
        <meta property="twitter:image" content="@Html.Raw(Model.OGMetaImageUrl)" />
    }
    @RenderSection("GeneralMeta", false)
    @RenderSection("TwitterMeta", false)

    @if (@Model.CanonicalUri != null)
    {
        <link rel="canonical" href="@Model.CanonicalUri" />
    }

    @if (Model is SearchViewModel)
    {
        <meta name="robots" content="noindex, nofollow" />
    }

    <environment names="Testing,Development">
        <!-- Latest compiled and minified CSS -->
        <!--
        <link rel="stylesheet" href="~/Content/bootstrap/css/bootstrap5.min.css">
        <link rel="stylesheet" href="~/lib/bootstrap5/css/bootstrap.css" type="text/css" >
        -->
        <link rel="stylesheet" href="~/lib/bootstrap5/css/bootstrap.css" media="screen" rel="stylesheet" >
        <link rel="stylesheet" href="~/Content/site.css" media="screen" type="text/css" />
        <link rel="stylesheet" href="~/Content/components.css" media="screen" type="text/css" />
        <link rel="stylesheet" href="~/Content/custom.css" media="screen" type="text/css" />
        <!--
        <link rel="stylesheet" href="~/Content/minimenu.css" media="screen" type="text/css" />

        -->
        <link rel="stylesheet" href="~/Content/transforms.css" media="screen" type="text/css" />
        <link rel="stylesheet" href="~/Content/print.css" media="print" type="text/css" />
        <link rel="stylesheet" href="~/Content/css/all.min.css" media="screen" type="text/css">
        <link rel="stylesheet" href="/Content/fontawesome6/css/fontawesome.min.css" asp-append-version="true">
        <link rel="stylesheet" href="/Content/fontawesome6/css/brands.min.css" asp-append-version="true">
        <!-- COVID style sheet-->
        <link rel="stylesheet" href="~/Content/covid-banner-style.css" media="screen" type="text/css">
        <!-- end of COVID style sheet-->
        <link rel="stylesheet" href="~/Content/accessibility-styles.css" media="screen" type="text/css">
        @{
            if (@Model.GranvilleLive)
            {
                <link rel="stylesheet" href="~/Content/granville-bridge-theme.css" media="screen" type="text/css">
            }
        }
        @{
            if (@isCovidTag)
            {
                <link rel="stylesheet" href="~/Content/covidcategory.css" media="screen" type="text/css">
            }
        }

    </environment>
    <environment names="Staging,Production">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="~/lib/bootstrap5/css/bootstrap.min.css" asp-append-version="true" media="screen" rel="stylesheet" >
        <link rel="stylesheet" href="~/Content/site.css" asp-append-version="true" media="screen" type="text/css" />
        <link rel="stylesheet" href="~/Content/components.css" asp-append-version="true" media="screen" type="text/css" />
        <link rel="stylesheet" href="~/Content/custom.css" asp-append-version="true" media="screen" type="text/css" />
        <link rel="stylesheet" href="~/Content/minimenu.css" asp-append-version="true" media="screen" type="text/css" />
        <link rel="stylesheet" href="~/Content/transforms.css" asp-append-version="true" media="screen" type="text/css" />
        <link rel="stylesheet" href="~/Content/print.css" asp-append-version="true" media="print" type="text/css" />
        <link rel="stylesheet" href="~/Content/css/all.min.css" asp-append-version="true" media="screen" type="text/css" />
        <link rel="stylesheet" href="/Content/fontawesome6/css/fontawesome.min.css" asp-append-version="true">
        <link rel="stylesheet" href="/Content/fontawesome6/css/brands.min.css" asp-append-version="true">
        <!-- COVID style sheet-->
        <link rel="stylesheet" href="~/Content/covid-banner-style.css" asp-append-version="true" media="screen" type="text/css">
        <link rel="stylesheet" href="~/Content/accessibility-styles.css" asp-append-version="true" media="screen" type="text/css">
        <!-- end of COVID style sheet-->
        @{
            if (@Model.GranvilleLive)
            {
                <link rel="stylesheet" href="~/Content/granville-bridge-theme.css" asp-append-version="true" media="screen" type="text/css">
            }
        }
        @{
            if (@isCovidTag)
            {
                <link rel="stylesheet" href="~/Content/covidcategory.css" asp-append-version="true" media="screen" type="text/css">
            }
        }
    </environment>

    @RenderSection("Meta", false)
    <!-- Latest compiled and minified JavaScript -->
    <script src="~/Scripts/jquery-1.12.4.min.js" type="text/javascript"></script>
    <script src="~/lib/bootstrap5/js/bootstrap.bundle.min.js" type="text/javascript"></script>

    <script src="~/Scripts/jquery.cookie.js" type="text/javascript"></script>

    @if (ViewContext.RouteData.Values["action"].ToString() != "Search" && ViewContext.RouteData.Values["controller"].ToString() != "Search")
    {
        <partial name="_WebAnalytics" />
    }
    else
    {
        <partial name="_WebAnalytics_Search" />
    }

</head>
<body>
    <!--googleoff: all-->
    <!--banner-->
    <!--
    <div id="banner">
        @{
            if (@Model.GranvilleLive)
            {
                <partial name="_BlueBridgeBanner.cshtml" />
            }
            else
            {
                <partial name="_Banner.cshtml" />
            }
        }
    </div>
    -->
    <!--end of banner-->
    <header class="container-fluid sm-g-0 header nav-border" id="main-nav">
        <div class="container-xl sm-g-0" id="main-nav-contaier">
            <nav class="navbar navbar-expand-md" aria-label="Main menu" id="main-nav" style="padding-right:8px;">
                <a href="https://gov.bc.ca">     
                    <img id="BCGov-logo" src="~/Content/Images/Gov/BCID_H_rgb_pos_LH_crop.svg" alt="Government of B.C." class="@(!@Model.GranvilleLive ? "granville-bridge-off d-none d-md-block" : "granville-bridge-on d-none d-md-block")">
                    <img id="sm-BCGov-logo" src="~/Content/Images/Gov/BC_Mark.svg" alt="Government of B.C." class="@(!@Model.GranvilleLive ? "granville-bridge-on d-md-none" : "d-md-none granville-bridge-off")">
                    <img id="BCGov-logo-bridge" src="~/Content/Images/Gov/BCID_H_rgb_pos_LH_crop_bridge.svg" alt="Government of B.C." class="@(@Model.GranvilleLive ? "granville-bridge-on d-none d-md-block" : "granville-bridge-off")">
                    <img id="sm-BCGov-logo-bridge" src="~/Content/Images/Gov/BC_Mark_bridge.svg" alt="Government of B.C." class="@(@Model.GranvilleLive ? "granville-bridge-on d-md-none" : "d-md-none granville-bridge-off")">
                </a>
                <a class="navbar-brand ps-3" href="/">BC Gov News</a>
                
                <!-- skip links for accessibility-->
                <div class="access">
                    <ul>
                        <li aria-label="Skip to main content">
                            <a class="btn skip-link" href="#main-content-release">Skip to main content</a>
                        </li>
                        <li aria-label="Skip to footer">
                            <a class="btn skip-link" href="#footer" onclick="window.scrollTo(0,0);">Skip to footer</a>
                        </li>
                    </ul>
                </div>
                <!-- end of skip links for accessibility-->

                <div class="d-xs-block d-sm-block d-md-none banner-toggle-container">
                    <a class="btn btn-link banner-toggle-btn"><img src="~/Content/Images/banner-toggle.svg" /></a>
                </div>
                <button id="nav-menu-sm" class="navbar-toggler collapse-menu-icon menu-icon" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <div class="d-xs-block d-sm-block d-md-none search-toggle-container">
                    <button id="search-md-button" class="input-group-text btn-primary-outline search-md menu-icon" data-bs-toggle="collapse" data-bs-target="#smd-search-container">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </div>
                
                @if (Model.WebcastingLive)
                {
                    <a href="/live" class="btn btn-primary-blue live_button live_button_show d-sm-block d-md-none"><img src="~/Content/Images/live-cast-button.svg" /></a>
                }
                else
                {
                    <a href="/live" class="btn btn-primary-blue live_button live_button_hide d-none d-lg-block">Live Webcast</a>
                }
                
                <div class="container-fluid" id="sm-nav-container">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent" data-bs-parent="#main-nav">
                        <ul class="navbar-nav ms-auto mb-2 me-3 mb-lg-0 gap-2" id="sm-nav-ul">
                            <li class="nav-item dropdown d-none d-md-block ministry-dropdown" id="ministry-dropdown">
                                <a class="nav-link " href="#" id="news-dropdown" data-bs-toggle="collapse" data-bs-target="#menu" aria-expanded="false">
                                    News&nbsp;&nbsp;
                                    <span id="icon-dropdown"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                                </a>
                                
                            </li>
                            <li class="nav-item dropdown d-md-none ministry-dropdown" id="ministry-dropdown">
                                
                                <a class="nav-link " href="#" id="sm-news-dropdown" data-bs-toggle="collapse" data-bs-target="#sm-menu" aria-expanded="false">
                                    News&nbsp;&nbsp;
                                    <span id="sm-icon-dropdown"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
                                </a>
                            </li>
                            <!-- ministry drop down menu for screen size xs and sm screen -->
                            <div class="container-fluid collapse d-md-none" id="sm-menu" aria-labelledby="ministry-dropdown-menu" data-bs-parent="#navbarSupportedContent">
                                <div class="menu container-xl">
                                    <div class="list-unstyled list-title">By Ministry</div>
                                    <ul>
                                        @foreach (var ministryModel in Model.Ministries.Take((Model.Ministries.Count - 1) / 2))
                                        {
                                            var ministry = ministryModel.Index as Ministry;
                                            if (ministry == null || ministry.ParentMinistryKey != null) { continue; };

                                            <li class="list-unstyled" role="menuitem"><a href="@ministry.GetUri()">@ministry.Name</a></li>
                                        }

                                        @foreach (var ministryModel in Model.Ministries.Skip((Model.Ministries.Count() - 1) / 2))
                                        {
                                            var ministry = ministryModel.Index as Ministry;
                                            if (ministry == null || ministry.ParentMinistryKey != null) { continue; };

                                            <li class="list-unstyled" role="menuitem"><a href="@ministry.GetUri()">@ministry.Name</a></li>
                                        }
                                    </ul>
                                </div>
                            </div>
                            <!-- end of ministry drop down menu for screen size md and larger -->

                            <!-- hide news archive -->
                            <!--
                                <li class="nav-item">
                                <a class="nav-link" href="@Gov.News.Website.Properties.Settings.Default.ArchiveHostUri" target="_blank">News Archive</a>
                            </li>
                            -->
                            <!-- end of hide news archive-->
                            
                            <li class="nav-item">
                                <a class="nav-link" href="@Model.SubscribePath()">Subscribe</a>
                            </li>
                            <!-- #banner toggle -->
                            <li class="nav-item-link d-none d-md-block">
                                <a class="nav-link" id="bannerToggleLink" style="width: 40px;"><img src="~/Content/Images/banner-toggle.svg" /></a>
                            </li>
                            <!-- #end of banner toggle -->
                        </ul>
                    </div>
                    
                    @if (!(Model is SearchViewModel))
                    {
                        @using (Html.BeginForm("Search", "Default", FormMethod.Get, new { @class = "d-flex search d-none d-lg-block" }))
                        {
                            <div class="input-group" >
                                <input name="q" id="mini-site-search-input" type="text" class="form-control" aria-label="search">
                                <span class="input-group-text btn-primary-outline search-trigger"><i class="fa fa-search" aria-hidden="true"></i></span>
                            </div>
                        }
                        <div class="d-none d-md-block d-lg-none search-md-block">
                            <button id="search-md-button" class="input-group-text btn-primary-outline search-md menu-icon" data-bs-toggle="collapse" data-bs-target="#smd-search-container">
                                <i class="fa fa-search" aria-hidden="true"></i>
                                </button>
                        </div>
                    }

                    @if (Model.WebcastingLive)
                    {
                        <a href="/live" class="btn btn-primary-blue live_button live_button_show d-none d-lg-block">Live Webcast</a>
                        <a href="/live" class="btn btn-primary-blue live_button live_button_show d-none d-md-block d-lg-none"><img src="~/Content/Images/live-cast-button.svg" /></a>
                    }
                    else
                    {
                        <a href="/live" class="btn btn-primary-blue live_button live_button_hide d-none d-lg-block">Live Webcast</a>
                    }
                    
                </div>
            </nav>
        </div>

        <!-- search input for md and smaller screen-->
        <div class="container-fluid collapse d-lg-none" id="smd-search-container" data-bs-parent="#main-nav">
        @if (!(Model is SearchViewModel))
        {
                @using (Html.BeginForm("Search", "Default", FormMethod.Get, new { @class = "search" }))
                {
                    <div class="input-group">
                        <input name="q" id="site-search-input" type="text" class="form-control" aria-label="search">
                        <button class="input-group-text search-trigger"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </div>
                }   
        } 
        </div>
        <!-- end of search input for md and smaller screen-->

        <!-- ministry drop down menu for screen size md and larger -->
        <div class="container-fluid collapse" id="menu" aria-labelledby="ministry-dropdown-menu" data-bs-parent="#main-nav">
            <div class="menu container-xl">
                <div class="list-unstyled list-title">By Ministry</div>
                <ul>
                    @foreach (var ministryModel in Model.Ministries.Take((Model.Ministries.Count - 1) / 2))
                    {
                        var ministry = ministryModel.Index as Ministry;
                        if (ministry == null || ministry.ParentMinistryKey != null) { continue; };

                        <li class="list-unstyled" role="menuitem"><a href="@ministry.GetUri()">@ministry.Name</a></li>
                    }
                    
                    @foreach (var ministryModel in Model.Ministries.Skip((Model.Ministries.Count() - 1) / 2))
                    {
                        var ministry = ministryModel.Index as Ministry;
                        if (ministry == null || ministry.ParentMinistryKey != null) { continue; };

                        <li class="list-unstyled" role="menuitem"><a href="@ministry.GetUri()">@ministry.Name</a></li>
                    }
                </ul>
            </div>
        </div>
        <!-- end of ministry drop down menu for screen size md and larger -->
    </header>
   
    @RenderSection("Carousel", false)
    @RenderSection("StoryNavigator", false)

    <div id="main-content" class="template container-xl">
        <main style="display: flex;">
            @RenderBody()
            <div class="clear"></div>
        </main>
    </div>

    @RenderSection("AssortedMedia", false)
    
    <div id="landAcknowledgement" class="container-fluid">
        <div class="container-xl">
            <p style="font-size:14px; font-weight:500; ">The B.C. Public Service acknowledges the territories of First Nations 
            around B.C. and is grateful to carry out our work on these lands. We acknowledge the rights, interests, priorities, and concerns of 
            all Indigenous Peoples - First Nations, Métis, and Inuit - respecting and acknowledging their distinct cultures, histories, rights, 
            laws, and governments.</p>
        </div>
    </div>
    <div id="footer" class="container-fluid" role="navigation">
        <div class="top container-xl">
            <div class="footer-bc">
                <img id="BCGov-logo-footer" src="~/Content/Images/Gov/BCID_H_rgb_pos_LH_crop.svg" alt="Government of B.C." class="@(!@Model.GranvilleLive ? "granville-bridge-on" : "granville-bridge-off")">
                <img id="BCGov-logo-footer-bridge" src="~/Content/Images/Gov/BCID_H_rgb_pos_LH_crop_bridge.svg" alt="Government of B.C." class="@(@Model.GranvilleLive ? "granville-bridge-on" : "granville-bridge-off")">
               
                <p>We can help in over 220 languages and through other accessible options. &nbsp; 
                    <a class="" href="https://www2.gov.bc.ca/gov/content/home/get-help-with-government-services">Call, email or text us</a>, or
                    <a class="" href="https://www2.gov.bc.ca/gov/content/home/services-a-z">find a service centre</a>.
                </p>
            </div>
            <div class="footer-connect">
                <h4>Connect with Us</h4>
                <ul class="" role="menu">
                    <li role="menuitem"><a id="footerNewsletters" href="/subscribe">Subscribe</a></li>
                    <li role="menuitem"><a id="footerRSSFeeds" href="/connect">Social and RSS</a></li>
                </ul>
            </div>
            <div class="footer-more-info">
                <h4>More Info</h4>
                <ul class="pull-left" role="menu">
                    <li role="menuitem"><a id="footerHome" href="https://gov.bc.ca">BC Gov</a></li>
                    <li role="menuitem"><a id="footerDisclaimer" href="https://www2.gov.bc.ca/gov/admin/disclaimer.page">Disclaimer</a></li>
                    <li role="menuitem"><a id="footerPrivacy" href="https://www2.gov.bc.ca/gov/content/home/privacy">Privacy</a></li>
                    <li role="menuitem"><a id="footerAccessibility" href="https://www2.gov.bc.ca/gov/admin/accessibility.page">Accessibility</a></li>
                    <li role="menuitem"><a id="footerCopyright" href="https://www2.gov.bc.ca/gov/admin/copyright.page">Copyright</a></li>
                    <li role="menuitem"><a id="footerContact" href="/contact">Contact Us</a></li>
                </ul>
            </div>
            
            <hr />
        </div>
        <div class="container-xl bottom">
            <div class="copyright">
                © <!-- -->2025<!-- --> Government of British Columbia
            </div>
        </div>
        
    </div>
    <!--
        <div id="end-cap">
            <ul>
                <li class="connect-label">Connect</li>
                <li><a aria-label="connect on facebook" href="/connect#facebook"><i class="fa-brands fa-square-facebook fa-lg" aria-hidden="true"></i></a></li>
                <li><a aria-label="connect on x" href="/connect#x"><i class="fa-brands fa-square-x-twitter fa-lg" aria-hidden="true"></i></a></li>
                <li><a aria-label="connect on flickr" href="/connect#flickr"><i class="fa-brands fa-flickr fa-lg" aria-hidden="true"></i></a></li>
                <li><a aria-label="connect on youtube" href="/connect#youtube"><i class="fa-brands fa-youtube fa-lg" aria-hidden="true"></i></a></li>
                <li><a aria-label="connect on weibo" href="/connect#weibo"><i class="fa-brands fa-weibo fa-lg" aria-hidden="true"></i></a></li>
            </ul>
            <a href="/connect" class="read-more view-all-media">View all Social Media</a>
        </div>
    -->
    
    <input id="hostingEnv" type="hidden" value=@hostingEnv.EnvironmentName />

    @if (Gov.News.Website.Properties.Settings.Default.SignalREnabled != null && Gov.News.Website.Properties.Settings.Default.SignalREnabled == "true")
    {
        <script src="~/Scripts/jquery.signalR-2.2.1.min.js" type="text/javascript"></script>
        <script src="~/signalr/hubs" type="text/javascript"></script>
    }

    <script type="text/javascript">
        window.allowFade = true;

    $(function () {
        $('.back-to-top').on('click', function () {
            $('html, body').animate({
                scrollTop: 0
            });
            return false;
        });

        $(window).on('load', function () {
            var images = $('.ministry-listing .article .item-asset img, .story-page .primary-asset img');
            images.each(function (i, image) {
                var width = image.naturalWidth;
                var height = image.naturalHeight;
                if (height >= width) {
                    $(image).addClass("tall-image");
                }
            });
        });

        $(".search-trigger").on('click', function (e) {
            e.preventDefault();
            //$('form:first').submit();
            $(this).parent().parent().submit();
        });

            var collapsibleRegions = $(".collapsible-regions");

            if (collapsibleRegions.length != 0) {
                // Clone on the client instead of having the server to duplicate and send them
                $('.home-features').append(collapsibleRegions.children().clone());
                collapsibleRegions.find(".resource-links > h3").on('click', function () {
                    var headerToggler = $(this);
                    headerToggler.parent().find('ul,div').toggle();
                    headerToggler.toggleClass('open');
                });
            }

        $("#smd-search-container").on('show.bs.collapse', function() {
            $(".d-md-block #search-md-button").find('i.fa').removeClass('fa-search').addClass('fa-times');
            $(".d-md-none #search-md-button").find('i.fa').removeClass('fa-search').addClass('fa-times');
            $(".d-md-block #search-md-button").addClass('active');
            $(".d-md-none #search-md-button").addClass('active');
        });

        $("#smd-search-container").on('hidden.bs.collapse', function() {
            $(".d-md-block #search-md-button").find('i.fa').removeClass('fa-times').addClass('fa-search');
            $(".d-md-none #search-md-button").find('i.fa').removeClass('fa-times').addClass('fa-search');
            $(".d-md-none #search-md-button").removeClass('active');
            $(".d-md-block #search-md-button").removeClass('active');
        });

        $("#navbarSupportedContent").on({
            'shown.bs.collapse': function() {
                $("#nav-menu-sm").find('i.fa').removeClass('fa-bars').addClass('fa-times');
                $('body').css('overflow-y', 'hidden');
                $('#sm-nav-container').css('z-index', '100');
                $("#nav-menu-sm").addClass("active");
            },
            'hidden.bs.collapse': function() {
                $("#nav-menu-sm").find('i.fa').removeClass('fa-times').addClass('fa-bars');
                $('#sm-menu').collapse('hide');
                $('#sm-nav-container').css('z-index', '1');
                $("#nav-menu-sm").removeClass("active");
                $('body').css('overflow-y', 'scroll');
            },
        });
        
        $('#menu').on({
            "show.bs.collapse": function (e) {
                $("#icon-dropdown").find('i.fa').removeClass('fa-angle-down').addClass('fa-angle-up');
                    $('body').css('overflow-y', 'hidden');
                    $("#ministry-dropdown").addClass("active");
            },
            "hide.bs.collapse": function (e) {
                $("#icon-dropdown").find('i.fa').removeClass('fa-angle-up').addClass('fa-angle-down');
                //$("#menu").attr("aria-hidden","true");
                $('body').css('overflow-y', 'scroll');
                $("#ministry-dropdown").removeClass("active");
            }
        });

        $('#sm-menu').on({
            "show.bs.collapse": function (e) {
                    e.stopPropagation();
                $('#sm-nav-ul').css('min-height', '1600px');
                
            },
            "shown.bs.collapse": function (e) {
                e.stopPropagation();
                $("#sm-icon-dropdown").find('i.fa').removeClass('fa-angle-down').addClass('fa-angle-up');
                //$("#sm-menu").attr("aria-hidden", "false");
                $("#navbarSupportedContent").find('#sm-news-dropdown').css("background-color", "#f2f2f2");
                $('#sm-nav-container').css('overflow-y', 'scroll');
                $(".ministry-dropdown").addClass('active');
            },
            "hide.bs.collapse": function (e) {
                    e.stopPropagation();
                $("#sm-icon-dropdown").find('i.fa').removeClass('fa-angle-up').addClass('fa-angle-down');
                //$("#sm-menu").attr("aria-hidden","true");
                $("#navbarSupportedContent").find('#sm-news-dropdown').css("background-color", "#FFF");
                $('body').css('overflow-y', 'hidden');
                $(".ministry-dropdown").removeClass('active');
            },
            "hidden.bs.collapse": function (e) {
                e.stopPropagation();
                $('#sm-nav-container').css('overflow-y', 'hidden');  
            }
        });


        $('.menu').on('click', function (event) {
            event.stopPropagation();
        });
        
        $(".print-document").on('click', function (event) {
            event.preventDefault();
            window.print();
        });

        @if (Gov.News.Website.Properties.Settings.Default.SignalREnabled != null && Gov.News.Website.Properties.Settings.Default.SignalREnabled == "true")
        {
            // Declare a proxy to reference the hub.
            @:var liveHub = $.connection.liveHub;

            // Create a function that the hub can call to broadcast messages.
            @:liveHub.client.isLive = isLiveCallback;

            @:liveHub.client.isGranvilleLive = isGranvilleLiveCallback;

            // Start the connection.
            @:$.connection.hub.start();
        }
        else
        {
            // Initiate polling mechanism to /api/live/playlist
            @:setTimeout(manualPolling, 60 * 1000);
            @:setTimeout(manualGranvillePolling, 60 * 1000);
        }
    });

    function manualPolling() {
        $.ajax({ url: "/api/live/playlist" })
        .done(function (result) {
            if (result && result.length > 0 && result[0]) {
                isLiveCallback(true, result);
            } else {
                isLiveCallback(false, null);
            }
        })
        .fail(function (err) {
            // console.log("error", err);
        })
        .always(function () {
            // console.log("again...");
            setTimeout(manualPolling, 60 * 1000);
        });

        }

        function manualGranvillePolling() {
            $.ajax({ url: "/api/live/granville" })
                .done(function (result) {
                    if (result) {
                        isGranvilleLiveCallback(true);
                    } else {
                        isGranvilleLiveCallback(false);
                    }
                })
                .fail(function (err) {
                })
                .always(function () {
                    setTimeout(manualGranvillePolling, 60 * 1000);
                });
        }

        function isLiveCallback(webcastingEnabled, links) {
            var live_button = $('.live_button');

            if (webcastingEnabled === true) {
                live_button.removeClass("live_button_hide");
                live_button.addClass("live_button_show");
            }
            else {
                live_button.removeClass("live_button_show");
                live_button.addClass("live_button_hide");
            }

            //if (typeof secondaryIsLiveCallback !== "undefined")
            //  secondaryIsLiveCallback(webcastingEnabled, links);
        };

        function isGranvilleLiveCallback(isLive) {
            var header = $("#main-nav");
            var banner = $('#bridge-banner');
            //var header = $('#main-nav');
            var logo = $('#BCGov-logo');
            var logo_granville = $('#BCGov-logo-bridge');
            var granville_style_sheet = $('link[rel=stylesheet][href~="/Content/granville-bridge-theme.css"]');
            const hostingEnv = document.getElementById('hostingEnv').value;

            if (isLive) {
                if ($("#site-banner").length){
                    $("#site-banner").addClass("d-none");
                }

                if (!banner.length) {
                    $('<div id="bridge-banner" class="info-black-banner" role="alert"><div class="content container-xl sm-g-0"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> His Majesty King Charles III, King of Canada, has passed away at the age of @age.<a id="btnCloseBannerBridge"><i class="fa fa-xmark fa-lg" aria-hidden="true"></i></a></div></div>').insertBefore(header);
                }

                $('#BCGov-logo').removeClass("d-md-block");
                $('#sm-BCGov-logo').removeClass("d-md-none");
                $('#BCGov-logo').hide();
                $('#sm-BCGov-logo').hide();

                $("#BCGov-logo-bridge").show();
                $("#BCGov-logo-bridge").addClass("d-none d-md-block");
                $("#sm-BCGov-logo-bridge").show();
                $("#sm-BCGov-logo-bridge").addClass("d-md-none");
                
                $("#BCGov-logo-footer").hide();
                $("#BCGov-logo-footer-bridge").show();

                if (!granville_style_sheet.length) {
                    if (hostingEnv == "Staging" || hostingEnv == "Production") {
                        $('head').append('<link rel="stylesheet" type="text/css" media="screen" asp-append-version="true" href="/Content/granville-bridge-theme.css">');
                    } else {
                        $('head').append('<link rel="stylesheet" type="text/css" media="screen" href="/Content/granville-bridge-theme.css">');
                    }
                }
            } else {
                if (banner.length) {
                    banner.remove();
                }
                if ($("#site-banner").hasClass("d-none")){
                    $("#site-banner").removeClass("d-none");
                }
                /* logo */
                $("#BCGov-logo").show();
                $("#BCGov-logo").addClass("d-none d-md-block");
                $("#sm-BCGov-logo").show();
                $("#sm-BCGov-logo").addClass("d-md-none");

                $('#BCGov-logo-bridge').removeClass("d-md-block");
                $('#sm-BCGov-logo-bridge').removeClass("d-md-none");
                $('#BCGov-logo-bridge').hide();
                $('#sm-BCGov-logo-bridge').hide();

                $("#BCGov-logo-footer").show();
                $("#BCGov-logo-footer-bridge").hide();

                if (granville_style_sheet.length) {
                    granville_style_sheet.remove();
                }
            }
        };

        $(document).ready(function () {
            
            $("#btnCloseBanner").click(function (e) {
                e.preventDefault();
                $("#banner").hide();
                
            });

            $("#btnCloseBannerBridge").click(function (e) {
                e.preventDefault();
                $("#banner").hide();
                
            });

            // Target the link by its new ID
            $('#bannerToggleLink').on('click', function(event) {
                // Prevent the default link navigation behavior
                event.preventDefault();
                $('#banner').toggle();
            });

            $('.banner-toggle-btn').on('click', function(event) {
                // Prevent the default link navigation behavior
                event.preventDefault();
                $('#banner').toggle();
            });

        });
    </script>

    @RenderSection("Scripts", false)
    <!--googleon: all-->
</body>
</html>
