@using Gov.News.Website;
@using Gov.News.Website.Models
@using Gov.News.WebApp.Extensions
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment hostingEnv
@model BaseViewModel
@{
    var dob = new System.DateTime(1926, 4, 21);
    var now = DateTime.Now;
    if (@Startup.granvilleTestDate != DateTime.MinValue)
    {
        now = @Startup.granvilleTestDate;
    }
    var age = now.Year - dob.Year;

    if (now.DayOfYear < dob.DayOfYear)
    {
        age = age - 1;
    }
    bool isCovidTag = Context.Request.Path.ToString().Contains("/tags/covid-19") && Context.Request.Query["embed"] == "true";
    string controller = "";

    if (ViewContext.RouteData.Values["controller"] != null)
    {
        controller = ViewContext.RouteData.Values["controller"].ToString();
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@(Model.Title == "Home" || string.IsNullOrEmpty(Model.Title) ? "" : Model.Title + " |") BC Gov News</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="twitter:card" content="summary_large_image">

    @if (@Model.OGMetaImageUrl != null)
    {
        <meta property="og:image" content="@Html.Raw(Model.OGMetaImageUrl)" />
    }
    @RenderSection("TwitterMeta", false)

    @if (@Model.CanonicalUri != null)
    {
        <link rel="canonical" href="@Model.CanonicalUri" />
    }

    <environment names="Testing,Development">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="~/Content/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/Content/site.css" media="screen" type="text/css" />
        <link rel="stylesheet" href="~/Content/minimenu.css" media="screen" type="text/css" />
        <link rel="stylesheet" href="~/Content/transforms.css" media="screen" type="text/css" />
        <link rel="stylesheet" href="~/Content/print.css" media="print" type="text/css" />
        <link rel="stylesheet" href="~/Content/fontawesome/font-awesome.min.css" media="screen" type="text/css">
        <!-- COVID style sheet-->
        <link rel="stylesheet" href="~/Content/covid-banner-style.css" media="screen" type="text/css">
        <!-- end of COVID style sheet-->
        <link rel="stylesheet" href="~/Content/accessibility-styles.css" media="screen" type="text/css">
        @{
            if (@Model.GranvilleLive)
            {
                <link rel="stylesheet" href="~/Content/granville-bridge-theme.css" media="screen" type="text/css">
            }
        }
        @{
            if (@isCovidTag)
            {
                <link rel="stylesheet" href="~/Content/covidcategory.css" media="screen" type="text/css">
            }
        }

    </environment>
    <environment names="Staging,Production">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="~/Content/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/Content/site.css" asp-append-version="true" media="screen" type="text/css" />
        <link rel="stylesheet" href="~/Content/minimenu.css" asp-append-version="true" media="screen" type="text/css" />
        <link rel="stylesheet" href="~/Content/transforms.css" asp-append-version="true" media="screen" type="text/css" />
        <link rel="stylesheet" href="~/Content/print.css" asp-append-version="true" media="print" type="text/css" />
        <link rel="stylesheet" href="~/Content/fontawesome/font-awesome.min.css" asp-append-version="true" media="screen" type="text/css" />
        <!-- COVID style sheet-->
        <link rel="stylesheet" href="~/Content/covid-banner-style.css" asp-append-version="true" media="screen" type="text/css">
        <link rel="stylesheet" href="~/Content/accessibility-styles.css" asp-append-version="true" media="screen" type="text/css">
        <!-- end of COVID style sheet-->
        @{
            if (@Model.GranvilleLive)
            {
                <link rel="stylesheet" href="~/Content/granville-bridge-theme.css" asp-append-version="true" media="screen" type="text/css">
            }
        }
        @{
            if (@isCovidTag)
            {
                <link rel="stylesheet" href="~/Content/covidcategory.css" asp-append-version="true" media="screen" type="text/css">
            }
        }
    </environment>

    @RenderSection("Meta", false)
    <!-- Latest compiled and minified JavaScript -->
    <script src="~/Scripts/jquery-1.12.4.min.js" type="text/javascript"></script>
    <script src="~/Content/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.cookie.js" type="text/javascript"></script>

    <!--
        <script src="~/Scripts/accessibility/ik_utils.js" type="text/javascript"></script>
          <script src="~/Scripts/accessibility/ik_carousel.js" type="text/javascript"></script>

    -->

    @if (ViewContext.RouteData.Values["action"].ToString() != "Search" && ViewContext.RouteData.Values["controller"].ToString() != "Search")
    {
        <partial name="_WebAnalytics" />
    }
    else
    {
        <partial name="_WebAnalytics_Search" />
    }
    <script type="text/javascript">
        // inject font-awesome via CDN since IE 11 does not recognize the cached version
        var isIE11 = !!window.MSInputMethodContext && !!document.documentMode;
        if (isIE11)
            $('head').append('<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" type="text/css" />');
    </script>
</head>
<body>
    <!--googleoff: all-->
    <!-- skip for accessibility-->

    <div id="header" class="navbar navbar-default" style="margin-bottom: 0;">

        @{
            if (@Model.GranvilleLive)
            {
                <div id="granville-bridge-banner" class="alert granville-bridge-banner" role="alert">
                    <div class="content">
                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i> ALERT: Her Majesty Queen Elizabeth II, Queen of Canada has passed away at the age of @age.
                        <button class="btn-link pull-right" id="btnCloseBanner" aria-hidden="true"><strong>×</strong></button>
                    </div>
                </div>
            }
        }

        <!-- COVID banner -->
        <div id="covid-banner" class="covid-banner" role="alert" aria-live="assertive">
            <div class="content" style="padding-left: 10px; padding-right:0 !important; display:flex; justify-content:space-between;">
                <div style="align-items:flex-start; margin-right:15px;"><i class="fa fa-info-circle fa-lg" aria-hidden="true"></i></div>
                <div><a href="https://www2.gov.bc.ca/gov/content/covid-19/vaccine/booster">Get your booster dose</a> &nbsp; |&nbsp;&nbsp; B.C. is easing many <a href="https://gov.bc.ca/Covid19restrictions">COVID-19 provincial restrictions</a></div>

                <div style="align-items:flex-end;"><button class="btn-link pull-right" id="btnCloseCovidBanner" aria-hidden="true"><strong>×</strong></button></div>
            </div>
        </div>
        <!-- end of COVID banner-->
        <div class="container-fluid">
            <div class="row" id="header-top">
                <div class="content" style="padding-right:20px !important;">
                    <div id="logo" role="banner">
                        <a id="headerBCGov" href="http://gov.bc.ca">
                            <img id="BCGov-logo" src="~/Content/Images/Gov/gov3_bc_logo.png" alt="Government of B.C." title="Government of B.C." class="@(!@Model.GranvilleLive ? "granville-bridge-on": "granville-bridge-off" )">
                            <img id="BCGov-logo-granville" src="~/Content/Images/Gov/BCID_White_Small.png" alt="Government of B.C." class="@(@Model.GranvilleLive ? "granville-bridge-on": "granville-bridge-off" )">
                        </a>
                    </div>
                    <div class="access">
                        <ul>
                            <li aria-label="Skip to main content">
                                <a href="#main-content-release">Skip to main content</a>
                            </li>
                            <li aria-label="Skip to main navigation">
                                <a href="#header-links" onclick="window.scrollTo(0,0);">Skip to main navigation</a>
                            </li>
                            <li aria-label="Skip to site search">
                                <a href="#site-search-label" onclick="window.scrollTo(0,0);">Skip to site search</a>
                            </li>
                            @if (controller != "Subscribe")
                            {
                                <li aria-label="Skip to side bar">
                                    <a href="#sidebar" onclick="window.scrollTo(0,0);">Skip to side bar</a>
                                </li>
                            }
                            <li aria-label="Skip to footer">
                                <a href="#footer" onclick="window.scrollTo(0,0);">Skip to footer</a>
                            </li>
                        </ul>
                    </div>

                    <nav class="navbar-dafault">
                        <div type="button" class="btn btn-link mini-menu-container-trigger navbar-toggle" data-toggle="collapse" data-target="#mini-menu-container">
                            <i id="hamburger-button" class="fa fa-bars fa-customized" aria-hidden="true"></i>
                            <i id="close-hamburger-button" class="fa fa-times fa-customized hidden" aria-hidden="true"></i>
                        </div>
                    </nav>
                    <div class="navbar-default" role="search">
                        <div type="button" class="btn btn-link mini-search-container-trigger navbar-toggle" data-toggle="collapse" data-target="#mini-search-container">
                            <i id="search-button" class="fa fa-search fa-customized" aria-hidden="true"></i>
                            <i id="close-search-button" class="fa fa-times fa-customized hidden" aria-hidden="true"></i>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row" id="header-bottom">
                <div class="content">
                    <div style="display:inline-block" role="banner">
                        <h1><a id="headerNewsHome" href="/">BC Gov News</a></h1>
                    </div>
                    @if (!(Model is SearchViewModel))
                    {
                        <div class="search" role="search">
                            @using (Html.BeginForm("Search", "Default", FormMethod.Get))
                            {
                                <label class="sr-only" id="site-search-label" for="site-search-input">Search</label>
                                <input name="q" type="search" id="site-search-input" placeholder="Search news.gov.bc.ca" />
                                <div class="search-trigger"><i class="fa fa-search fa-lg" aria-hidden="true"></i> </div>
                            }
                        </div>
                    }

                </div>
            </div>
            <div class="row" role="navigation" aria-label="Main menu" id="header-links">
                <div id="nav-container">
                    <div class="shadow-box">
                        <div class="content">
                            <div class="nav">
                                <ul class="inline" role="menubar">
                                    <li role="menuitem"><a href="/">Home</a></li>
                                    <li role="menuitem" aria-haspopup="true"><a href="/ministries" data-target="ministries-menu" class="has-menu">Ministries</a></li>
                                    <li role="menuitem"><a href="/sectors">Sectors</a></li>
                                    <li role="menuitem"><a href="/connect">Connect</a></li>
                                    <li role="menuitem"><a href="@Model.SubscribePath()">Subscribe</a></li>
                                    @*TODO: Remove the following reference to Properties.Settings from the view.*@
                                    <li role="menuitem"><a href="@Gov.News.Website.Properties.Settings.Default.ArchiveHostUri">News Archive</a></li>
                                    @if (Model.WebcastingLive)
                                    {
                                        <li role="menuitem" style="float:right;"><a href="/live" aria-label="live cast" class="live_button live_button_show">Live Webcast</a></li>
                                    }
                                    else
                                    {
                                        <li role="menuitem" style="float:right;" aria-hidden="true"><a href="/live" aria-label="no live cast" class="live_button live_button_hide">Live Webcast</a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="menu-container" style="margin-left:-30px;">
                    <div class="content">
                        <div id="ministries-menu" class="menu">
                            <div class="menu-items">
                                <ul aria-expanded="true" role="menu">
                                    @foreach (var ministryModel in Model.Ministries)
                                    {
                                        var ministry = ministryModel.Index as Ministry;
                                        if (ministry == null || ministry.ParentMinistryKey != null) { continue; };

                                        <li role="menuitem"><a href="@ministry.GetUri()">@ministry.Name</a></li>
                                    }
                                </ul>
                            </div>
                            <div class="menu-content">
                                @foreach (var ministry in Model.Ministries.Where(m => ((Ministry)m.Index).ParentMinistryKey == null))
                                {
                                    <partial name="MenuContent" model="ministry" />
                                }
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="collapse navbar-collapse" id="mini-search-container" role="search">
        @if (!(Model is SearchViewModel))
        {
        <div class="search mini-menu-search" style="display:block;">
            @using (Html.BeginForm("Search", "Default", FormMethod.Get))
            {
                <label class="sr-only" id="site-mini-search-label" for="mini-menu-search-box">Search</label>
                <input name="q" id="mini-menu-search-box" class="searchbox" type="text" placeholder="Search news.gov.bc.ca">
                <div class="search-trigger"> </div>
            }
        </div>
        }
    </div>
    <div class="collapse navbar-collapse" id="mini-menu-container" style="overflow: hidden;">
        <ul>
            <li class="first-link" role="menuitem"><a href="/">Home</a><div class="no-trigger"></div></li>
            <li class="dropdown" id="mini-ministry-dropdown" role="menuitem">
                <a style="width:100%;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    Ministries
                    <div id="ministry-dropdown" class="pull-right">
                        <i id="ministry-dropdown-down" class="fa fa-chevron-down"></i>
                        <i id="ministry-dropdown-up" class="fa fa-chevron-up hidden"></i>
                    </div>
                </a>

                <ul class="dropdown-menu" role="menu" id="mini-ministry-dropdown-menu">
                    @foreach (var ministryModel in Model.Ministries)
                    {
                        var ministry = ministryModel.Index as Ministry;
                        if (ministry == null || ministry.ParentMinistryKey != null) { continue; };
                        <li role="menuitem">
                            <a href="@ministry.GetUri()">@ministry.Name</a>
                            <div class="no-trigger"></div>
                        </li>
                    }
                </ul>
            </li>
            <li role="menuitem"><a href="/sectors">Sectors</a><div class="no-trigger"></div></li>
            <li role="menuitem"><a href="/connect">Connect</a><div class="no-trigger"></div></li>
            <li role="menuitem"><a href="@Model.SubscribePath()">Subscribe</a></li>
            @*TODO: Remove the following reference to Properties.Settings from the view.*@
            <li role="menuitem"><a href="@Gov.News.Website.Properties.Settings.Default.ArchiveHostUri">News Archive</a><div class="no-trigger"></div></li>

            @if (Model.WebcastingLive)
            {
                <li role="menuitem"><a href="/live" class="live_button live_button_show" style="width:auto; margin-left:5px;">Live Webcast</a></li>
            }
            else
            {
                <li role="menuitem"><a href="/live" class="live_button live_button_hide">Live Webcast</a></li>
            }

        </ul>

    </div>
    <!--

    -->
    @RenderSection("Carousel", false)
    @RenderSection("StoryNavigator", false)

    <div id="main-content" class="template content" tabindex="0">

        <main>
            @RenderBody()
            <div class="clear"></div>
        </main>

    </div>

    @RenderSection("AssortedMedia", false)


    <div id="footer" role="navigation">
        <div class="content">
            <div class="connect">
                <h4>Connect with Us:</h4>
                <ul class="inline" role="menu">

                    <li role="menuitem"><a id="footerBCGov" href="http://www.gov.bc.ca/">BC Gov</a></li>
                    <li role="menuitem"><a id="footerFaceBook" href="/connect#facebook">Facebook</a></li>
                    <li role="menuitem"><a id="footerTwitter" href="/connect#twitter">Twitter</a></li>
                    <li role="menuitem"><a id="footerFlickr" href="/connect#flickr">Photos</a></li>
                    <li role="menuitem"><a id="footerYoutube" href="/connect#youtube">Videos</a></li>
                    <li role="menuitem"><a id="footerNewsletters" href="/newsletters">Newsletters</a></li>
                    <li role="menuitem"><a id="footerRSSFeeds" href="/connect#rss">RSS Feeds</a></li>
                </ul>
            </div>
            <div class="clear"></div>
            <hr />

            <ul class="inline pull-left" role="menu">
                <li role="menuitem"><a id="footerHome" href="https://news.gov.bc.ca">Home</a></li>
                <li role="menuitem"><a id="footerDisclaimer" href="http://www2.gov.bc.ca/gov/admin/disclaimer.page">Disclaimer</a></li>
                <li role="menuitem"><a id="footerPrivacy" href="/privacy">Privacy</a></li>
                <li role="menuitem"><a id="footerAccessibility" href="http://www2.gov.bc.ca/gov/admin/accessibility.page">Accessibility</a></li>
                <li role="menuitem"><a id="footerCopyright" href="http://www2.gov.bc.ca/gov/admin/copyright.page">Copyright</a></li>
                <li role="menuitem"><a id="footerContact" href="/contact">Contact Us</a></li>
            </ul>
        </div>
    </div>
    <div id="end-cap">
        <ul>
            <li class="connect-label">Connect</li>
            <li><a aria-label="connect on facebook" href="/connect#facebook"><i class="fa fa-facebook-official fa-lg" aria-hidden="true"></i></a></li>
            <li><a aria-label="connect on twitter" href="/connect#twitter"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a></li>
            <li><a aria-label="connect on flickr" href="/connect#flickr"><i class="fa fa-flickr fa-lg" aria-hidden="true"></i></a></li>
            <li><a aria-label="connect on youtube" href="/connect#youtube"><i class="fa fa-youtube fa-lg" aria-hidden="true"></i></a></li>
        </ul>
        <a href="/connect" class="read-more view-all-media">View all Social Media</a>
    </div>
    <input id="hostingEnv" type="hidden" value=@hostingEnv.EnvironmentName />

    @if (Gov.News.Website.Properties.Settings.Default.SignalREnabled != null && Gov.News.Website.Properties.Settings.Default.SignalREnabled == "true")
    {
        <script src="~/Scripts/jquery.signalR-2.2.1.min.js" type="text/javascript"></script>
        <script src="~/signalr/hubs" type="text/javascript"></script>
    }

    <script type="text/javascript">
        window.allowFade = true;

    $(function () {
        $('.back-to-top').on('click', function () {
            $('html, body').animate({
                scrollTop: 0
            });
            return false;
        });

        $(window).on('load', function () {
            var images = $('.ministry-listing .article .item-asset img, .story-page .primary-asset img');
            images.each(function (i, image) {
                var width = image.naturalWidth;
                var height = image.naturalHeight;
                if (height >= width) {
                    $(image).addClass("tall-image");
                }
            });
        });

        $(".search-trigger").on('click', function () {
            $(this).parent().submit();
        });

        var collapsibleRegions = $(".collapsible-regions");

        if (collapsibleRegions.length != 0) {
            // Clone on the client instead of having the server to duplicate and send them
            $('.home-features').append(collapsibleRegions.children().clone());
            collapsibleRegions.find(".resource-links > h3").on('click', function () {
                var headerToggler = $(this);
                headerToggler.parent().find('ul,div').toggle();
                headerToggler.toggleClass('open');
            });
        }

        function shortenSummaryText(divToShorten, heightToMatch) {
                if ($(divToShorten).length > 0) {
                var heightOfDiv = divToShorten.height();
                while (heightOfDiv > heightToMatch) {
                    var textToShorten = $(divToShorten)[0].innerHTML;
                    var newLengthOfStringToShorten = textToShorten.length - 10;
                    textToShorten = textToShorten.substr(0, newLengthOfStringToShorten);
                    textToShorten = textToShorten.substr(0, Math.min(textToShorten.length, textToShorten.lastIndexOf(" "))) + '...';
                    $(divToShorten).html(textToShorten);
                    heightOfDiv = $(divToShorten).height();
                }
            }
        }

        var first = true;
        function closeMenu() {
            var menuContainer = $("#menu-container");
            menuContainer.slideUp();
            menuContainer.hide();
            $(".menu.active").removeClass('active');
            $(".menu-content").hide();
            $(".menu-items li").removeClass('active');
            var parent = $(".has-menu").parent();
            parent.removeClass('active');

        }

        $('html').on('click', function () {
            closeMenu();
        });

        $('.menu').on('click', function (event) {
            event.stopPropagation();
        });

        var menuSwitchTimeout;
        var menuSwitchDelay = 100;

        window.menuCloseDelay = 500;

        var fadeSpeed = 200;

        $(".menu-content-item").hide();
            $(".menu-items li").on('mouseenter', function () {
            clearTimeout(menuSwitchTimeout);
            var index = $(this).index() + 1;
            var item = $(this);
                menuSwitchTimeout = setTimeout(function () {
                $("#menu-container").removeClass('just-menu');
                $(".menu-items li").removeClass('active');
                item.addClass('active');
                if (!first) {
                    $(".menu-content-item").fadeOut(fadeSpeed);
                }
                first = false;
                $(".menu-content").show();
                $(".menu-content-item:nth-child(" + index + ")").fadeIn(fadeSpeed);

                item.find('.item-content').each(function () {
                    if ($(this).is(':visible')) {
                        if ($(this).find('.item-asset img').length > 0) {
                            var summaryDiv = $(this).find('.item-summary');
                            var heightOfSummaryText = summaryDiv.height();
                            var heightOfReadMoreLink = $(this).find('.read-more').outerHeight(true);
                            var heightToMatch = $(this).find('.item-asset img').height() - heightOfReadMoreLink;
                            if (heightToMatch < heightOfSummaryText) {
                                shortenSummaryText(summaryDiv, heightToMatch);
                            }
                        }
                    }
                });
                }, menuSwitchDelay);
                var menu = $('#ministries-menu .menu-items');
                var menuItemContent = $('#ministries-menu .menu-content');
                if (menu.outerHeight() > menuItemContent.outerHeight()) {
                    menuItemContent.outerHeight(menu.outerHeight());
                }
                if (menu.outerHeight() < menuItemContent.outerHeight()) {
                    menu.outerHeight(menuItemContent.outerHeight());
                }
        });

        $(".close-menu").on('click', function (event) {
            event.preventDefault();
            closeMenu();
        });

        $(".has-menu").on('click', function (event) {
            event.stopPropagation();
            event.preventDefault();
            first = false;
            //$(".menu.active").removeClass('active');
            $(".menu-content").hide();
            clearTimeout(window.menuCloseTimeout);
            var parent = $(".has-menu").parent();
            parent.removeClass('active');

            var targetId = $(this).data('target');

            var openMenu = $(".menu.active");

            if (targetId === openMenu.prop('id')) {
                closeMenu();
                return;
            }

            $(this).parent().addClass('active');

            $(".menu.active").removeClass('active');
            $(".menu").hide();

            var menu = $("#" + targetId);
            menu.show();
            menu.addClass('active');

            var menuContainer = $("#menu-container");
            if (menuContainer.is(":visible")) {
                return;
            }

            menuContainer.addClass('just-menu');
            menuContainer.show();
        });

        $(".print-document").on('click', function (event) {
            event.preventDefault();
            window.print();
        });

        @if (Gov.News.Website.Properties.Settings.Default.SignalREnabled != null && Gov.News.Website.Properties.Settings.Default.SignalREnabled == "true")
        {
            // Declare a proxy to reference the hub.
            @:var liveHub = $.connection.liveHub;

            // Create a function that the hub can call to broadcast messages.
            @:liveHub.client.isLive = isLiveCallback;

            @:liveHub.client.isGranvilleLive = isGranvilleLiveCallback;

            // Start the connection.
            @:$.connection.hub.start();
        }
        else
        {
            // Initiate polling mechanism to /api/live/playlist
            @:setTimeout(manualPolling, 60 * 1000);
            @:setTimeout(manualGranvillePolling, 60 * 1000);
        }
    });

    function manualPolling() {
        $.ajax({ url: "/api/live/playlist" })
        .done(function (result) {
            if (result && result.length > 0 && result[0]) {
                isLiveCallback(true, result);
            } else {
                isLiveCallback(false, null);
            }
        })
        .fail(function (err) {
            // console.log("error", err);
        })
        .always(function () {
            // console.log("again...");
            setTimeout(manualPolling, 60 * 1000);
        });

        }

        function manualGranvillePolling() {
            $.ajax({ url: "/api/live/granville" })
                .done(function (result) {
                    if (result) {
                        isGranvilleLiveCallback(true);
                    } else {
                        isGranvilleLiveCallback(false);
                    }
                })
                .fail(function (err) {
                })
                .always(function () {
                    setTimeout(manualGranvillePolling, 60 * 1000);
                });
        }

        function isLiveCallback(webcastingEnabled, links) {
            var live_button = $('.live_button');

            if (webcastingEnabled === true) {
                live_button.removeClass("live_button_hide");
                live_button.addClass("live_button_show");
            }
            else {
                live_button.removeClass("live_button_show");
                live_button.addClass("live_button_hide");
            }

            //if (typeof secondaryIsLiveCallback !== "undefined")
            //  secondaryIsLiveCallback(webcastingEnabled, links);
        };

        function isGranvilleLiveCallback(isLive) {
            var banner = $('#granville-bridge-banner');
            var header = $('#header');
            var logo = $('#BCGov-logo');
            var logo_granville = $('#BCGov-logo-granville');
            var mini_search_logo = $('#mini-menu-container-trigger');
            var granville_style_sheet = $('link[rel=stylesheet][href~="/Content/granville-bridge-theme.css"]');
            const hostingEnv = document.getElementById('hostingEnv').value;

            if (isLive) {
                if (!banner.length) {
                    $('<div id="granville-bridge-banner" class="alert granville-bridge-banner"  role="alert"><div class="content"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> ALERT: Her Majesty Queen Elizabeth II, Queen of Canada has passed away at the age of @age.<button class="btn-link pull-right" id="btnCloseBanner"><strong>×</strong></button></div></div>').insertBefore(header);
                }
                logo.hide();
                logo_granville.show();

                if (!mini_search_logo.hasClass("granville-bridge-mini-search-menu")) {
                    mini_search_logo.addClass("granville-bridge-mini-search-menu")
                }
                if (!granville_style_sheet.length) {
                    if (hostingEnv == "Staging" || hostingEnv == "Production") {
                        $('head').append('<link rel="stylesheet" type="text/css" media="screen" asp-append-version="true" href="/Content/granville-bridge-theme.css">');
                    } else {
                        $('head').append('<link rel="stylesheet" type="text/css" media="screen" href="/Content/granville-bridge-theme.css">');
                    }
                }
            } else {
                if (banner.length) {
                    banner.remove();
                }
                logo_granville.hide();
                logo.show();
                if (mini_search_logo.hasClass("granville-bridge-mini-search-menu")) {
                    mini_search_logo.removeClass("granville-bridge-mini-search-menu")
                }
                if (granville_style_sheet.length) {
                    granville_style_sheet.remove();
                }
            }
        };


    $('body').on('click touchend', '.footer a, .search-pagination a, #mini-menu a', function (e) {
        var el = $(this);
        var link = el.attr('href');
        window.location = link;
    });
        $('#mini-menu-container').on('shown.bs.collapse', function () {
            $('#hamburger-button').toggleClass('hidden');
            $('#close-hamburger-button').toggleClass('hidden');
        })
        $('#mini-menu-container').on('hidden.bs.collapse', function () {
            $('#hamburger-button').toggleClass('hidden');
            $('#close-hamburger-button').toggleClass('hidden');
        })
        $('#mini-search-container').on('shown.bs.collapse', function () {
            $('#search-button').toggleClass('hidden');
            $('#close-search-button').toggleClass('hidden');
            $('.mini-search-container-trigger').addClass('triggered');
            $('.mini-menu-search').slideDown(200, function () { });

        })
        $('#mini-search-container').on('hidden.bs.collapse', function () {
            $('#search-button').toggleClass('hidden');
            $('#close-search-button').toggleClass('hidden');
            $('.mini-search-container-trigger').removeClass('triggered');
            $('.mini-menu-search').hide();
        })

        $('#mini-ministry-dropdown').on({
            "shown.bs.dropdown": function () {
                $('#ministry-dropdown-down').toggleClass('hidden');
                $('#ministry-dropdown-up').toggleClass('hidden');
            },
            "hide.bs.dropdown": function (e) {
                $('#ministry-dropdown-down').toggleClass('hidden');
                $('#ministry-dropdown-up').toggleClass('hidden');
            }
        });

        $(document).ready(function () {
            /* This is for closing the granville banner */
            if ($.cookie(document.location.host + '-alert-granville') === 'closed') {
                $("#granville-bridge-banner").hide();
            }

            $("#btnCloseBanner").click(function (e) {
                e.preventDefault();
                /* The cookie will be expired in 100 days
                 Set the path as root, so the cookie will be valid across the whole site */
                $.cookie(document.location.host + '-alert-granville', 'closed', { path: '/', expires: 100 });
                $("#granville-bridge-banner").hide();
            });

            $("#btnCloseCovidBanner").click(function (e) {
                e.preventDefault();
                var mini_menu_logo = $('#mini-menu-trigger');
                var mini_search_logo = $('#mini-search-trigger');
                $("#covid-banner").hide();
                if (mini_search_logo.hasClass("covid-mini-search-menu")) {
                    mini_search_logo.removeClass("covid-mini-search-menu")
                }
                if (mini_menu_logo.hasClass("covid-mini-menu-menu")) {
                    mini_menu_logo.removeClass("covid-mini-menu-menu")
                }
            });
        });
    </script>

    @RenderSection("Scripts", false)
    <!--googleon: all-->
</body>
</html>
