@using Gov.News.Api.Models
@using Gov.News.Website
@using Gov.News.Website.Models

@model CategoriesViewModel

<div class="news-listing">
    <div class="home-features">
        <partial name="ConnectSocialMedia" />
        <partial name="ResourceLinks" />
    </div>

    <div class="home-body">
        
        @*TODO: Replace Model.Categories.First().GetType().Name with DisplayName property*@
        <h3>News by @Model.Categories.First().Index.GetType().Name</h3>
        
        @foreach (var category in Model.Categories)
        {
            <div class="grouped-articles">
                <h4>
                    <a href="@category.Index.GetUri()">
                        @category.Index.Name
                    </a>
                </h4>
                @if (category.TopPost != null)
                {
                    <div class="top-article">
                        <partial name="PostCard" model="category.TopPost" />
                    </div>
                }
                <div class="other-articles">
                    @if (category.FeaturePost != null)
                    {
                        <div class="feature-article">
                            <partial name="PostCard" model="category.FeaturePost" />
                        </div>
                    }
                    @{Post firstLatest = category.LatestNews.FirstOrDefault();}
                    @if (firstLatest != null)
                    {
                        <div class="regular-articles">
                            <partial name="PostCard" model="firstLatest" />
                        </div>
                    }
                </div>
            </div>

            <div class="news-control">
                <a href="@category.Index.GetUri()" class="load-more link-button">Browse More News</a>
                @if (category.Index is Ministry)
                {
                    @Html.ActionLink("Search News", "Search", "Default", new { ministry = category.Index.Key }, new { @class = "read-more" })
                }
                else if (category.Index.Kind == "sectors")
                {
                    @Html.ActionLink("Search News", "Search", "Default", new { sector = category.Index.Key }, new { @class = "read-more" })
                }
                <div class="clear"> </div>
            </div>
        }
        @*<div class="news-control">
            @Html.ActionLink("Search News", "Search", "Default", null, new { @class = "read-more" })
            <div class="clear"></div>
        </div>*@
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>

@section AssortedMedia {
    <partial name="EmbeddedMediaBanner" model="Model.Footer" />
}

@section Scripts{
    <script> var youtubeProxyUrl = "@ViewBag.ProxyUrl" </script>
    <script type="text/javascript" src="~/Scripts/media-assets-youtube.js"></script>
    <script type="text/javascript" src="~/Scripts/load-youtube-assets.js"></script>
}