<style>
    
</style>
<div class="resource-links connect">
    <h3>Connect With Us</h3>
    <ul>
        <li><a id="connectFacebook" href="/connect#facebook"><img src="@Url.Content("~/Content/Images/SocialMedia/facebook-svg-logo.svg")" alt="Facebook" height="22" width="22"/></a></li>
        <li><a id="connectTwitter" href="/connect#twitter"><img src="@Url.Content("~/Content/Images/SocialMedia/twitter-X-svg-logo.svg")" alt="Twitter" height="22" width="22"></a></li>
        <li><a id="connectInstagram" href="/connect#instagram"><img src="@Url.Content("~/Content/Images/SocialMedia/Instagram_logo_2016.svg")" alt="Instagram" height="22" width="22"></a></li>
        <li><a id="connectFlickr" href="/connect#flickr"><img src="@Url.Content("~/Content/Images/SocialMedia/flickr-svg-logo.svg")" alt="Flickr" height="22" width="22"/></a></li>
        <li><a id="connectYoutube" href="/connect#youtube"><img src="@Url.Content("~/Content/Images/SocialMedia/youtube-svg-logo.svg")" alt="Youtube" height="22" width="22"/></a></li>
        <li><a id="connectFacebook" href="/connect#weibo"><img src="@Url.Content("~/Content/Images/SocialMedia/weibo-svg-logo.svg")" alt="Weibo" height="22" width="22"/></a></li>
    </ul>

    <a id="connectAllSocialMedia" href="/connect" class="read-more">View all Social Media</a>
</div>