<style>
    
</style>
<div class="resource-links connect">
    <h3>Connect With Us</h3>
    <ul>
        <li><a id="connectFacebook" href="/connect#facebook"><img src="@Url.Content("~/Content/Images/SocialMedia/facebook-svg-logo.svg")" alt="Facebook" height="22" width="22"/></a></li>
        <li><a id="connectTwitter" href="/connect#x"><img src="@Url.Content("~/Content/Images/SocialMedia/twitter-X-svg-logo.svg")" alt="X" height="22" width="22"></a></li>
        <li><a id="connectInstagram" href="/connect#instagram"><img src="@Url.Content("~/Content/Images/SocialMedia/Instagram_logo_2016.svg")" alt="Instagram" height="22" width="22"></a></li>
        <li><a id="connectThread" href="/connect#threads"><img src="@Url.Content("~/Content/Images/SocialMedia/threads_logo.svg")" alt="Threads" height="22" width="22" /></a></li>
        <li><a id="connectBluesky" href="/connect#bluesky"><img src="@Url.Content("~/Content/Images/SocialMedia/bluesky-logo.svg")" alt="Bluesky" height="22" width="22" /></a></li>
    </ul>
    <ul>
        <li><a id="connectLinkedin" href="/connect#linkedin"><img src="@Url.Content("~/Content/Images/SocialMedia/linkedin-logo-blue.svg")" alt="LinkedIn" height="22" width="22" /></a></li>
        <li><a id="connectFlickr" href="/connect#flickr"><img src="@Url.Content("~/Content/Images/SocialMedia/flickr-svg-logo.svg")" alt="Flickr" height="22" width="22" /></a></li>
        <li><a id="connectYoutube" href="/connect#youtube"><img src="@Url.Content("~/Content/Images/SocialMedia/youtube.svg")" alt="YouTube" height="22" width="22" /></a></li>
        <li><a id="connectRss" href="/connect#rss"><img src="@Url.Content("~/Content/Images/SocialMedia/rss-logo.svg")" alt="YouTube" height="22" width="22" /></a></li>
    </ul>
    <a id="connectAllSocialMedia" href="/connect" class="read-more">View all Social Media</a>
</div>