@using Gov.News.Website.Models
@using Gov.News.WebApp.Extensions
@model HomeViewModel

@if (Model.SlideItems.Any())
{
    <div id="carousel-holder">
        @{
            var slideIndex = 0;
        }
        @foreach (var item in Model.SlideItems)
        {
            <div class="home-banner" style="background-image: url(CarouselImage/@item.Key)">
                <div class="home-banner-content">
                    <div class="stories">
                        @if (@item.ActionUri != null)
                        {
                            //TODO: Replace (int)item.Justify == 2 with property in SlideItem model
                            <div class="story@(item.Justify == "right" ? " right" : " left")@((item.FacebookPostUri != null) ? " facebook" : "")">
                                <div onClick="window.location.href='@item.ActionUri';" style="cursor:pointer;">
                                    <h2>@item.Headline</h2>
                                    @*<p class="item-date">@item.PublishFromDateTime.FormatDateLong()</p>*@
                                    <p class="summary">@item.Summary</p> 
                                    <div>
                                        <a href="#"class="read-more">@item.ActionLabel</a>
                                    </div>
                                </div>

                                @if (item.FacebookPostUri != null)
                                {
                                <div class="social-media-bar">
                                    <ul>
                                        <li class="facebook-info"><a href='@item.GetFacebookPostUri().ToString()' target="_blank"><i class="fa fa-facebook-official fa-lg" aria-hidden="true"></i> Like or Comment<span class="on-story"> on this story</span><span class="on-facebook"> on Facebook</span></a></li> 
                                    </ul>
                                </div>
                                }
                            </div>
                        }
                        <div class="story-nav story-previous"></div>
                        <div class="story-nav story-next"></div>
                    </div>
                </div>
                <div class="bottom-fade"></div>
            </div>
            slideIndex ++;
        }
    </div>
    }

