@using Gov.News.Website;
@using Gov.News.Website.Helpers;

@model Tuple<Ministry, Minister>
@{
    var Ministry = Model.Item1;
    var Minister = Model.Item2;
}

@if (Model != null && !string.IsNullOrWhiteSpace(Minister.Headline))
{
    <div class="resource-links minister">
        <img src="@Minister.Photo" alt=""/>
        <h3>@Minister.Headline</h3>

        @Minister.Summary.AsHtmlParagraphs()
        
        <a href="@Ministry.GetMinisterUri()" class="read-more">Read Bio</a>

        @if (!string.IsNullOrWhiteSpace(Minister.EmailHtml))
        {
            <h4>Contact</h4>
            <p class="minister-email">Email: @Html.Raw(Minister.EmailHtml)</p>
        }
    </div>
}

<script type="text/javascript">
</script>