@using Gov.News.Website;
@using Gov.News.Website.Helpers;

@model Tuple<Ministry, Minister>
@{
    var Ministry = Model.Item1;
    var Minister = Model.Item2;
    var minister_name = Minister.Headline.Split(" ");
    string minister_firstname = string.Empty;
    string minister_lastname = string.Empty;
    if (minister_name.Length>=3)
    {
        minister_firstname = Minister.Headline.Split(" ")[1];
        minister_lastname = Minister.Headline.Split(" ").Last();
    }
    var minister_large_pic_url = string.Format("https://www2.gov.bc.ca/assets/gov/government/ministries-organizations/premier-cabinet-mlas/minister-large/{0}_{1}_large.jpg", minister_firstname, minister_lastname);
}

@if (Model != null && !string.IsNullOrWhiteSpace(Minister.Headline))
{
    <div class="resource-links minister">
        <a href="@minister_large_pic_url"><img src="@Minister.Photo" alt="@Minister.Headline" title="@Minister.Headline"/></a>
        <h3>@Minister.Headline</h3>

        @Minister.Summary.AsHtmlParagraphs()
        
        <a href="@Ministry.GetMinisterUri()" class="read-more">Read Bio</a>

        @if (!string.IsNullOrWhiteSpace(Minister.EmailHtml))
        {
            if (Ministry.Key != "land-water-and-resource-stewardship")
            {
            <h4>Contact</h4>
                <p class="minister-email">Email: @Html.Raw(Minister.EmailHtml)</p>
            }
        }
    </div>
}

<script type="text/javascript">
</script>