@using Gov.News.Website;
@using Gov.News.Website.Models
@using Gov.News.Api.Models
@model BaseViewModel

<div class="comm-contacts">
    <div style="padding-top: 15px; font-size:16px; background-color: #d4d4d4; padding:16px; margin-top: 16px; border-radius: 8px;" class="text-center">
        <p><strong>Public inquiries for medical queries related to COVID-19: 8-1-1</strong></p>
        <p><strong>Public inquiries for non-medical queries related to COVID-19: 1-888-COVID-19</strong></p>
        <p><strong>Media inquiries related to COVID-19 (not for public queries): 250-952-1887</strong></p>
    </div>

    <h3 class="hidden-xs">Government Communications and Public Engagement</h3>

    <div class="clear"></div>
    <div class="header">
        <h4>24 hours Media Relations Contact Line</h4>
        <div class="row">
            Please contact the appropriate ministry below. If you are unable to reach a ministry contact, call media relations at 250-893-7136.
        </div>
        <br />
    </div>

    <div class="header">
        <h4>Contact List for Media</h4>
    </div>

    <div class="row d-none d-md-flex">
        <h4 class="col-xs-12 col-sm-4 col-md col-lg col-xl"></h4>
        <h4 class="col-xs-12 col-sm-4 col-md col-lg col-xl">Primary Contact</h4>
        <h4 class="col-xs-12 col-sm-4 col-md col-lg col-xl">Alternate Contact</h4>
    </div>

    @foreach (var categoryModel in Model.Ministries)
    {
        var ministry = categoryModel.Index as Ministry;
        if (ministry.ContactUser != null)
        {
            <div class="row" style="padding-bottom:10px;">
                <div class="col-xs-12 col-sm-4">
                    <a style="@(ministry.ParentMinistryKey != null ? "margin-left: 25px; display:inline-block;" : "")" href="@ministry.GetUri()">@ministry.Name</a>
                    @if (!string.IsNullOrEmpty(ministry.DisplayAdditionalName))
                    {
                        <div style="@(ministry.ParentMinistryKey != null ? "margin-left: 25px;" : "")"><i>(@ministry.DisplayAdditionalName)</i></div>
                    }
                    @if (ministry.Name != "Intergovernmental Relations Secretariat")
                    {
                        <div style="@(ministry.ParentMinistryKey != null ? "margin-left: 25px;" : "")">@ministry.MinisterName</div>
                    }
                </div>
                <div class="col-xs-12 col-sm-4">
                    <partial name="CommContact" model="ministry.ContactUser" />
                </div>
                @if (ministry.SecondContactUser != null)
                {
                    <div class="col-xs-12 col-sm-4">
                        <partial name="CommContact" model="ministry.SecondContactUser" />
                    </div>
                }
                @if (!string.IsNullOrEmpty(ministry.WeekendContactNumber))
                {
                    <div class="text-center">
                        <div><span style="padding-left:200px;">
                            <strong>After hours:</strong> @ministry.WeekendContactNumber</span>
                        </div>
                    </div>
                }
            </div>
        }
        if (ministry.Name == "Education and Child Care")
        {
            <div class="row" style="padding-bottom:10px;">
                <div class="col-xs-12 col-sm-4">
                    <a style="text-decoration: none; color: #2d2d2d; display:inline-block; margin-left: 25px;">Child Care</a>
                </div>
                
                <div class="col-xs-12 col-sm-4">
                    <span class="contact-name">Megan Lowry</span>
                    <div>
                        <span>Direct: 250-893-3942</span>
                    </div>
                    <a href="mailto:Megan.Lowry@gov.bc.ca">Megan.Lowry@gov.bc.ca</a><br />
                </div>
  
                <div class="col-xs-12 col-sm-4">
                    <span class="contact-name">Clay Suddaby</span>
                    <div>
                        <span>Direct: 778-405-3274</span>
                    </div>
                    <a href="mailto:Clay.Suddaby@gov.bc.ca">Clay.Suddaby@gov.bc.ca</a><br />
                </div>
            </div>
        }
    }
    <div class="row" style="margin-bottom:20px;padding-bottom:10px;">
        <div class="col-xs-12 col-sm-4">
            <a style="" href="https://news.gov.bc.ca/office-of-the-premier">Office of the Premier</a>
            <div style="">Premier David Eby</div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <span class="contact-name">Media Line</span>
            <div>
                <a href="mailto:Premier.Media@gov.bc.ca">Premier.Media@gov.bc.ca</a><br>
            </div>
        </div>
    </div>
        
    <div class="clear"></div>
</div>
